VITE_TWA_API_URL=
VITE_AUTH_BASE_URL=/_auth
VITE_AUTH_PROXY_TARGET=http://localhost:8000
VITE_TWA_API_PROXY_TARGET=http://localhost:9000
VITE_AUTH_CSRF_COOKIE_NAME=twa_auth_csrf
VITE_AUTH_CSRF_HEADER_NAME=X-CSRF-Token
VITE_TWA_AUTH_AUDIENCE=twa-api
VITE_EMPLOYER_APP_URL=http://localhost:5174
VITE_ADMIN_APP_URL=http://localhost:5175
